<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <div>

      <header class="header-background">

        <div class="clearfix border-bottom-thick header-border">
          <ul class="list-reset right py-1 header-text font-smoothing">
            {% for my_page in site.pages %}
              {% if my_page.title %}
              <li class="inline-block">
                <a class="align-middle link-primary header-link mr-2" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
              </li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>

        <div class="container mx-auto px-2 mb-2 clearfix header-text">
          <h1 class="h0 inline-block col-9 sm-width-full py-4 mt-3 header-title">{{ site.title }}</h1>

          <div class="clearfix mb-4 py-1">
            <div class="col-4 sm-width-full left border-top-thin">
              <div class="table">
                <div class="inline-block mt-3 mr-1">
                  {% include dot-accent.html %}
                </div>
                <div class="inline-block mt-3 mr-1">
                  {% include dot-accent.html %}
                </div>
                <div class="inline-block mt-3">
                {% include github.html %} 
                </div>
              </div>
              <!-- Set site description in config.yml -->
              <p class="h4 lh-condensed font-smoothing mt-2 py-1">{{ site.description }}</p>
            </div>

            <div class="col-4 sm-width-full left border-top-thin mt-3 mt-lg-0 ml-lg-4 table">
                <div class="inline-block mt-3 mr-1">
                  {% include dot.html %}
                </div>
                <div class="inline-block mt-3">
                  {% include {{ site.social_link | default: "twitter" }}.html %}
                </div>
            </div>
          </div>

        </div>
      </header>

      <div class="container mx-auto px-2 py-4">
        
<!--         <blockquote class="twitter-tweet"><p lang="en" dir="ltr">I published “NEWS: a book on Robots That Reason: Logic, Probability &amp; Causal Laws” on <a href="https://twitter.com/Medium?ref_src=twsrc%5Etfw">@Medium</a> <a href="https://t.co/EsfB5HwPZK">https://t.co/EsfB5HwPZK</a></p>&mdash; Dr Vaishak Belle (@vaishakbelle) <a href="https://twitter.com/vaishakbelle/status/1630151790216765442?ref_src=twsrc%5Etfw">February 27, 2023</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        
        <blockquote class="twitter-tweet"><p lang="en" dir="ltr">I published “NEWS: Dagstuhl seminar on Trustworthiness &amp; Responsibility in AI: Integrating Causality, Machine…” on <a href="https://twitter.com/Medium?ref_src=twsrc%5Etfw">@Medium</a> <a href="https://t.co/j6EZnDUOGx">https://t.co/j6EZnDUOGx</a></p>&mdash; Dr Vaishak Belle (@vaishakbelle) <a href="https://twitter.com/vaishakbelle/status/1632764116828823553?ref_src=twsrc%5Etfw">March 6, 2023</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
 -->
        
        <h2 id="contact">Contact</h2>

<!--         <p><strong>Email:</strong> firstname@ed.ac.uk (<a href="https://www.evernote.com/shard/s7/sh/92a524f8-8f2b-4c3d-95da-bd0672557172/ba7d3263fc2ea1498d5fc85e02030184"><em>prospective students: see here</em></a>)</p>
 -->
        
<p><strong>Email:</strong> vbelle at ed.ac.uk </p>

<p><strong>Office:</strong> 2.02A - Informatics Forum, 10 Crichton Street, Edinburgh EH89AB</p>

<p><strong>Office Phone:</strong> +44 (0) 131 650 5150 </p>
        
        <p> <a href="https://twitter.com/vaishakbelle"><strong>Twitter</strong></a>, <a href="https://medium.com/@vaishakbelle"><strong>Blog</strong></a>, <a href="https://www.instagram.com/vaishakbelle/"><strong>Instagram</strong></a>  & <a href="https://www.youtube.com/channel/UCD0bXVA73QPxQNIkpdWaGew?view_as=subscriber"><strong>YouTube</strong> </a> </p>


        
<!--    <a href="https://scholar.google.com/citations?user=iQNOnjEAAAAJ&hl=en"> <strong>Google Scholar</strong> </a>,      For <b>news and announcements</b>, please see <a href=https://twitter.com/vaishakbelle>my twitter feed;</a> some highlights below: <br><br> <a href="https://www.goodreads.com/vaishakbelle"><strong>Goodreads</strong></a>
        
         <blockquote class="twitter-tweet" data-theme="dark"><p lang="en" dir="ltr">The Scotsman reports on our <a href="https://twitter.com/hashtag/XAI?src=hash&amp;ref_src=twsrc%5Etfw">#XAI</a> (<a href="https://twitter.com/hashtag/explainable?src=hash&amp;ref_src=twsrc%5Etfw">#explainable</a> machine learning in particular) work with the NatWest Group — <a href="https://t.co/HRp2lhAtgs">https://t.co/HRp2lhAtgs</a></p>&mdash; Vaishak Belle (@vaishakbelle) <a href="https://twitter.com/vaishakbelle/status/1306186075212255234?ref_src=twsrc%5Etfw">September 16, 2020</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

    
    <blockquote class="twitter-tweet" data-theme="dark"><p lang="en" dir="ltr">Camera ready, w <a href="https://twitter.com/lucderaedt?ref_src=twsrc%5Etfw">@lucderaedt</a> — Semiring programming: A semantic framework for generalized sum product problems <a href="https://t.co/f5q1e1w6aW">https://t.co/f5q1e1w6aW</a></p>&mdash; Vaishak Belle (@vaishakbelle) <a href="https://twitter.com/vaishakbelle/status/1300718134983364610?ref_src=twsrc%5Etfw">September 1, 2020</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    
    <blockquote class="twitter-tweet" data-theme="dark"><p lang="en" dir="ltr">Lecture at FU Berlin on Fair and Responsible AI, all via <a href="https://twitter.com/hashtag/probabilistic?src=hash&amp;ref_src=twsrc%5Etfw">#probabilistic</a> <a href="https://twitter.com/hashtag/circuits?src=hash&amp;ref_src=twsrc%5Etfw">#circuits</a> — <a href="https://t.co/pwdp8fwWKq">https://t.co/pwdp8fwWKq</a></p>&mdash; Vaishak Belle (@vaishakbelle) <a href="https://twitter.com/vaishakbelle/status/1303649401102008320?ref_src=twsrc%5Etfw">September 9, 2020</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
         -->
<!-- <a href=https://twitter.com/vaishakbelle/status/1306186075212255234><img src="/attachments/scotsman.jpg" width="400" ></a><br>
<a href=https://twitter.com/vaishakbelle/status/1300718134983364610><img src="/attachments/semi.jpg" width="400" ></a><br>
<a href=https://twitter.com/vaishakbelle/status/1303649401102008320><img src="/attachments/berlin.jpg" width="400" ></a><br> -->
        
        
<!--        
     -->
    
      </div>

    </div>

    {% include footer.html %}

  </body>

</html>
